<h1>My Contacts</h1>
<form action="/contacts/search" method="post">
	<input type="text" class="text" name="search_string" />
	<input type="submit" >
</form>

<ul> 
  <% @contacts.each do |contact| %> 
    <li><h3><a href="/contacts/show/<%= contact.id %>"><%= contact.name %></a></h3></li> 
  <% end %> 
</ul> 
