<h1>My friend <%= @contact.name %></h1>
<dl>
<dt>Address: </dt>
<dd><%= @contact.address %></dd>
<dt>Phone number: </dt>
<dd><%= @contact.phone %></dd>
<dt>Email: </dt>
<dd><%= @contact.email %></dd>
</dl>

